button {
  text-align: center;
  white-space: nowrap;
  border: 1px solid #007bff;
  padding: 0.32rem 1rem;
  line-height: 2;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  &:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
    text-decoration: none;
  }
  &:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: .65;
  }
}