select {
  display: block;
  cursor: pointer;
  padding: .7rem 1.2rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}