@import "~bootstrap/scss/bootstrap";
@import "fonts/ico.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem 0 1.5rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

strong {
  font-weight: 500;
}

form {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  text-align: center;
  select, button {
    position: relative;
    top: unset;
    transform: none;
    left: unset;
    margin: 0 1rem;
    display: inline-block;
  }
}
